html, body {
	min-width: 360px;
	width:100%;
	height:100%;
	font-family: "Times New Roman","Microsoft Jhenghei","Microsoft YaHei",serif;
	
} /*非常重要的样式让背景图片100%适应整个屏幕*/ 

body:before{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: 0.6;
	z-index: -1;
}

content{
	margin-top: 20px;
}

.search-head{
	margin-top: 20px;
	padding: 20px 40px;
	background:#fff;
}

.content-search-div{
	position: relative;
}
.form-search{
	display: flex;
	margin-top: 12px;
}

.content-search{
	width: 100%;
	padding: 20px 10px;
	height: 30px;
	font-size: 15px;
	background: rgba(255,255,255,0);
	border: 1px solid #dca9a6;
	box-shadow: 0px 0px 5px #91989f;
	border-radius: 5px;
	flex-grow: 1;
}

.search-submit-btn{
	display: inline-block;
	margin-left: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.search-title{
	font-size: 23px;

}


.index-a{
	text-decoration: none;
	color: #b55d4c;
	transition: color 0.8s;
}
.index-a:link{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:visited{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:hover{
	text-decoration: none;
	color: #fb966e;

}
.index-a:active{
	text-decoration: none;
	color: #b55d4c;
}

.search-category{
	margin-top: 20px;
	color: #000;
}

.search-category a{
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
}

.search-select-category{
	color: #000 !important;
	font-weight: bold !important;
	font-size: 1.1em !important;
}

.search-options{
	margin-top: 20px;
	color: #000;
}

.search-options a{
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
}

.search-select-options{
	color: #000 !important;
	font-weight: bold !important;
	font-size: 1.1em !important;
}

.search-list{
	margin-top: 20px;
	background: rgba(255,255,255,1);
	padding: 20px 40px;
}

.search-list-notFound{
	padding: 40px 50px;
	margin-bottom: 100px;
	position: relative;
}


.recommend-a{
	text-decoration: none;
	color: #000;
	transition: color 0.8s;
}
.recommend-a:link{
	text-decoration: none;
	color: #000;
}
.recommend-a:visited{
	text-decoration: none;
	color: #000;
}
.recommend-a:hover{
	text-decoration: none;
	color: #9b6e23;

}
.recommend-a:active{
	text-decoration: none;
	color: #000;
}

.search-list{
	min-height: 400px;
}



.sentence-collection{
	margin-top: 20px;
}


.sentence-collect-item{
	display: flex;
	margin-bottom: 15px;
	border-bottom: 1px solid #efefef;
}

.sentence-collect-item img{
	width: 5em;
	height: 5em;
	margin-right: 20px;
}

.sentence-collect-right{
	flex-grow: 1;
}

.sentence-collect-title{
	font-size: 1.3em;
	margin-right: 5px;
}

.sentence-collect-title i{
	margin-right: 5px;
}

.sentence-collect-num{
	color:#999;
}

.sentence-collect-love{
	float: right;
		cursor: pointer;
}

#love-img{
	height: 1.2em;
	width: 1.2em;
	margin-bottom: 5px;
	margin-right: 5px;
}

.love-img{
	height: 1.2em;
	width: 1.2em;
	margin-bottom: 5px;
	margin-right: 5px;
}

.sentence-collect-love img{
	margin-bottom: 5px;
	margin-right: 5px;
	height: 1.2em;
	width: 1.2em;
}

.sentence-collect-publish-info{
	margin-top: 0px;
	margin-bottom: 0;
}
.sentence-collect-putlish-intro{
	margin-top: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.sentence-collect-publisher{
	font-size: 1.2em;
}

.search-user-list{
}

.search-user-item{
	padding: 20px 20px;
	text-align: center;

}

.search-user-item-content{
	border:1px #e6e6e6 dotted;
	box-shadow: 0 0 3px #bbb;
	border-radius: 5px;
	padding: 20px 20px;
	background: url('../imgs/6286d2220a1987c843163a6f8db614b7.png');
}

@media screen and (max-width: 768px){
	.search-user-item{
		width: 100%;
	}
	
}

.search-user-item-img{
	width: 6em;
	height: 6em;
}

.search-user-name{
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

.search-user-motto{
	margin-top: -5px;
	text-align: center;
}

.search-user-self-info{
	margin-top: -5px;
}

.serach-user-info-num{
	margin-left: 10px;
	margin-right: 10px;

}

.search-user-sentence-info{
	margin-left: 10px;
	margin-right: 10px;
}

.btn-follow{
	font: 15px/1.5 微软雅黑, tahoma, arial, simsun, sans-serif;
	font-size: 1.2em;
	padding: 5px 15px;
	background: #fff;
	border: 1px solid #d9d9d9;
	outline: none;
}

.btn-follow:hover{
	border-color: #ccc;
}
.btn-follow:active{
	background:#f2f2f2;
}

.btn-follow i{
	color:rgb(250,125,60);
	margin-right: 5px;
}


.search-list-notFound{
	display: none;
}

 .sentence-list{
	display: none;
}
 
 .sentence-collection{
	display: none;
} 
/* 
.search-user-list{
	display: none;
} */