::selection {   
    background:#00896c;    
    color:#fff;   
}   
  
::-moz-selection {   
    background:#00896c;    
    color:#fff;     
}   
  
::-webkit-selection {   
    background:#00896c;    
    color:#fff;   
}  