html, body {
	min-width: 360px;
	width:100%;
	height:100%;
	font-family: "Times New Roman","Microsoft Jhenghei","Microsoft YaHei",serif;
	
} /*非常重要的样式让背景图片100%适应整个屏幕*/ 

body:before{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: 0.6;
	z-index: -1;
}

.collectList-intro-div{
	margin-top: 20px;
	padding: 20px 40px;
	background:#fff;
	display: flex;
}

.collectList-intro-img{
	width: 10em;
	height: 10em;
	margin-right: 30px;
}

.collectList-intro{
	flex-grow: 1;
}

.collectList-intro-title{
	font-weight: bold;
	font-size: 1.5em;
}

.collectList-intro-num{
	margin-left: 15px;
	color: #666;
}

.index-a{
	text-decoration: none;
	color: #b55d4c;
	transition: color 0.8s;
}
.index-a:link{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:visited{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:hover{
	text-decoration: none;
	color: #fb966e;

}
.index-a:active{
	text-decoration: none;
	color: #b55d4c;
}

.collectList-intro-publish-div{
	font-size: 1.2em;
	margin-top: 10px;
}

.collectList-intro-publish-time{
	margin-left: 15px;
	color: #666;
}

.collect-love{
	float: right;
	cursor: pointer;
	font-weight: bold;
}

#love-img{
	height: 1.2em;
	margin-bottom: 5px;
}

@media screen and (max-width: 900px){
	.collectList-intro-div{
		display: block;
	}
	.collectList-intro{
		width: 100%;
	}
}

.colelctList-intro-hr{
	width: 100%;
	border-top: 1px solid #ddd;
}

.collectList-intro-explain{
	font-family: STSong;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 1.4px;
}

.collectList-sentence-div{
	margin-top: 20px;
	padding: 20px 40px;
	background: #fff;
	margin-bottom: 50px;
}


.collectList-sentence-div{
	position: relative;
}

.collectList-sentence-cry{
	float: right;
	width: 30%;
	margin-top: -20px;
}

.recommend-a{
	text-decoration: none;
	color: #000;
	transition: color 0.8s;
}
.recommend-a:link{
	text-decoration: none;
	color: #000;
}
.recommend-a:visited{
	text-decoration: none;
	color: #000;
}
.recommend-a:hover{
	text-decoration: none;
	color: #9b6e23;

}
.recommend-a:active{
	text-decoration: none;
	color: #000;
}


/*.collectList-sentence-list{
	display: none;
}*/


.collectList-sentence-null{
	display: none;
}