/*右边块整体样式*/
.content-right-side{
	padding-right: 0;
}

/*右边块的容器，统一的样式*/
.content-right-box{
	padding:20px;
	background: #fff;
	margin-bottom: 20px;
}

/*搜索块*/
.content-right-search{
	position: relative;
}

.content-search{
	width: 100%;
	height: 30px;
	font-size: 15px;
	padding: 20px 10px;
	background: rgba(255,255,255,0);
	border: 1px solid #dca9a6;
	box-shadow: 0px 0px 5px #91989f;
	border-radius: 5px;
}

/*添加句子块*/
.publish-btn{
	width: 100%;
	padding: 20px;
	background: #fff;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 20px;
	transition: all 0.5s;
}

.publish-btn:hover{
	/*background: rgba(255,255,255,0.5);*/
	/*background: #bdc0ba;
	color:#fff;*/
	/*background: #af5f3c;*/
	background: #eee;
	color: #3a8fb7;
	text-shadow: 0px 0px 3px #58b2dc;
}

/*句子热门标签+分类*/
.category-title{
	color: #000;
	font-weight: bold;
	font-size: 1.2em;
}

.category-list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
}

.category-item{
	flex-grow: 1;
	padding: 5px 10px;
}


.title-a{
	text-decoration: none;
	color: #66bab7;
	transition: color 0.8s;
}
.title-a:link{
	text-decoration: none;
	color: #66bab7;
}
.title-a:visited{
	text-decoration: none;
	color: #66bab7;
}
.title-a:hover{
	text-decoration: none;
	color: #268785;

}
.title-a:active{
	text-decoration: none;
	color: #66bab7;
}


/*热门句子集*/
.hot-list-item{
	position: relative;
	color: #999;
	margin-bottom: 5px;
}

.hot-list-item i{
	color: #cb4042;
	
	font-size: 1.2em;
}

.hot-item-title{
	margin-right: 4px;
	font-size: 1.2em;
}