html, body {
	min-width: 360px;
	width:100%;
	height:100%;
	font-family: "Microsoft YaHei"，"Times New Roman","Microsoft Jhenghei",serif;
	
} /*非常重要的样式让背景图片100%适应整个屏幕*/ 

body:before{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: 0.6;
	z-index: -1;
}

.message-content{
	margin-top: 20px;
	margin-bottom: 50px;
	background: #fff;
	padding: 20px 40px;
}

.message-title{
	font-weight: bold;
	padding-bottom: 6px;
	border-bottom: 1px solid #ccc;
}

.index-a{
	text-decoration: none;
	color: #b55d4c;
	transition: color 0.8s;
}
.index-a:link{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:visited{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:hover{
	text-decoration: none;
	color: #fb966e;

}
.index-a:active{
	text-decoration: none;
	color: #b55d4c;
}

.message-item-time{
	text-align: right;
	color: #aaa;
}

.message-item{
	border-bottom: 1px solid #eee;
}

.message-item-content{
	margin-top: 15px;
}

.message-sentence{
	margin-left: 8px;
	margin-right: 8px;
}

.message-user{
	margin-left: 8px;
	margin-right: 8px;
}

.message-comment{
	margin-left: 8px;
	margin-right: 8px;
}

.message-reply{
	margin-left: 8px;
	margin-right: 8px;
}

.message-collect{
	margin-left: 8px;
	margin-right: 8px;
}

.message-report-sentence{
	margin-left: 8px;
	margin-right: 8px;
	color: red;
}

.report-reason{
	margin-left: 8px;
	margin-right: 8px;
	font-weight: bold;
}

.apply{
	margin-left: 8px;
	margin-right: 8px;
}