html, body {
	min-width: 360px;
	width:100%;
	height:100%;
	font-family: "Times New Roman","Microsoft Jhenghei","Microsoft YaHei",serif;
	
} /*非常重要的样式让背景图片100%适应整个屏幕*/ 

body:before{
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: 0.6;
	z-index: -1;
}


.report-content{
	margin-top: 20px;
	background: #fff;
	padding: 20px 40px;
}

.index-a{
	text-decoration: none;
	color: #b55d4c;
	transition: color 0.8s;
}
.index-a:link{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:visited{
	text-decoration: none;
	color: #b55d4c;
}
.index-a:hover{
	text-decoration: none;
	color: #fb966e;

}
.index-a:active{
	text-decoration: none;
	color: #b55d4c;
}

.report-sentence{
	font-size: 1.1em;
}

.report-sentence-publisher{
	text-align: right;
	margin-bottom: 0;
}

.textarea-report{
	width: 100%;
	line-height: 26px;
	height: 200px;
	font-size: 15px;
	padding: 10px 10px;
	background: rgba(255,255,255,0);
	border: 1px solid #dca9a6;
	box-shadow: 0px 0px 5px #91989f;
	border-radius: 5px;
	letter-spacing: 1px;
	resize: none;
	margin-top: 2px;
	margin-bottom: 3px;
}

.report-btn{
	padding: 5px 15px;
}

.after-report{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.after-report a{
	margin-top: 15px;
}

/*.report-div{
	display: none;
}*/

.after-report{
	display: none;
}